In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
# Do the processing for all dat files
directory1 = '../../data/raw/pamap2_data/Protocol'
directory2 = '../../data/raw/pamap2_data/Optional'

In [3]:
combined_results = pd.DataFrame()
# combined_results_var = pd.DataFrame()

for filename in os.listdir(directory1):
    filepath = os.path.join(directory1, filename)

    subject_df = pd.read_csv(filepath, delimiter=' ', header = None)
    # subject_df = subject_df[top_feats]
    subject_number = int(filename.split('subject')[1].split('.dat')[0])
    subject_df['Subject'] = subject_number

    subject_df[0] = pd.to_datetime(subject_df[0], unit='s')
    # subject_df['Minute'] = subject_df[0].dt.floor('T')
    subject_df['Second'] = subject_df[0].dt.floor('S')
    subject_df = subject_df[subject_df[1] != 0] # remove activity ID = 0
    subject_df['ActivityGroup'] = (subject_df[1] != subject_df[1].shift()).cumsum()


    subject_df = subject_df.groupby(['Subject', 'ActivityGroup', 'Second',1]).mean().reset_index()
    # subject_df_var = subject_df.groupby(['Subject', 'ActivityGroup', 'Second',1]).var().reset_index()

    subject_df = subject_df.drop(columns=[0,'ActivityGroup']) # drop timestamp and activity group
    # subject_df_var = subject_df_var.drop(columns=[0,'ActivityGroup']) # drop timestamp and activity group
    

    combined_results = pd.concat([combined_results, subject_df], ignore_index=True)
    # combined_results_var = pd.concat([combined_results_var, subject_df_var], ignore_index=True)

In [4]:
for filename in os.listdir(directory2):
    filepath = os.path.join(directory2, filename)

    subject_df = pd.read_csv(filepath, delimiter=' ', header = None)
    # subject_df = subject_df[top_feats]
    subject_number = int(filename.split('subject')[1].split('.dat')[0])
    subject_df['Subject'] = subject_number

    subject_df[0] = pd.to_datetime(subject_df[0], unit='s')
    # subject_df['Minute'] = subject_df[0].dt.floor('T')
    subject_df['Second'] = subject_df[0].dt.floor('S')
    subject_df = subject_df[subject_df[1] != 0] # remove activity ID = 0
    subject_df['ActivityGroup'] = (subject_df[1] != subject_df[1].shift()).cumsum()


    subject_df = subject_df.groupby(['Subject', 'ActivityGroup', 'Second',1]).mean().reset_index()
    # subject_df_var = subject_df.groupby(['Subject', 'ActivityGroup', 'Second',1]).var().reset_index()

    subject_df = subject_df.drop(columns=[0,'ActivityGroup']) # drop timestamp and activity group
    # subject_df_var = subject_df_var.drop(columns=[0,'ActivityGroup']) # drop timestamp and activity group
    

    combined_results = pd.concat([combined_results, subject_df], ignore_index=True)
    # combined_results_var = pd.concat([combined_results_var, subject_df_var], ignore_index=True)

In [5]:
combined_results.isna().sum().sum()

33

In [6]:
#combined_results = combined_results.drop(columns=['Second'])
combined_results = combined_results.rename(columns={'Subject':0,'Second':54})
combined_results = combined_results.sort_values(by = 54).reset_index(drop=True)
combined_results[1] = combined_results[1].astype(int)
combined_results = combined_results.dropna()
combined_results.shape

(27360, 55)

In [7]:
combined_results

,0,54,1,2,3,4,5,6,7,8,...,44,45,46,47,48,49,50,51,52,53
0,109,1970-01-01 00:00:31,24,139.0,24.910937,-8.774862,2.921167,2.307146,-8.836571,2.969285,...,0.025054,0.072855,0.327494,-44.677669,-7.026946,3.250370,0.555624,-0.316755,0.718974,-0.268680
1,109,1970-01-01 00:00:32,24,138.0,24.937500,-8.884371,3.639173,2.511493,-8.938693,3.706951,...,0.004657,-0.017115,0.011002,-45.354818,-3.942657,2.595037,0.544582,-0.304127,0.717182,-0.310576
2,109,1970-01-01 00:00:33,24,138.0,24.901250,-7.953692,4.918869,1.920328,-8.051530,4.957867,...,0.251467,-0.058381,-0.167615,-44.676414,-7.139982,3.829399,0.530612,-0.356835,0.695447,-0.324372
3,109,1970-01-01 00:00:34,24,138.0,24.937500,-6.550635,10.524657,0.379089,-6.833505,10.539075,...,-0.264943,-0.043607,0.077041,-41.828461,-15.475105,9.590448,0.485194,-0.476597,0.661950,-0.308362
4,109,1970-01-01 00:00:35,24,138.0,24.937500,-2.638427,8.896337,-2.473392,-2.795023,9.151476,...,0.260470,-0.071397,-0.150778,-39.629503,-19.076338,12.213491,0.469625,-0.529871,0.628705,-0.304908
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27372,102,1970-01-01 01:10:41,24,178.0,28.562500,7.500616,5.281763,-2.922205,7.446114,5.342201,...,-0.125209,0.032251,0.040151,-36.632698,5.473240,35.884328,0.046275,0.763998,-0.051861,0.641039
27373,102,1970-01-01 01:10:42,24,178.0,28.526250,2.971386,8.476219,0.226122,2.942363,8.473609,...,0.056010,-0.042687,0.009015,-36.228572,6.357465,36.272932,0.058565,0.767400,-0.050905,0.636385
27374,102,1970-01-01 01:10:43,24,178.0,28.562500,2.475771,8.508035,1.264291,2.444936,8.496311,...,0.043403,-0.001426,-0.001495,-36.079478,7.065029,36.264408,0.065147,0.767670,-0.051264,0.635406
27375,102,1970-01-01 01:10:44,24,177.7,28.559375,0.897005,8.351497,-0.182476,0.803331,8.258212,...,-0.024756,-0.007707,0.002608,-36.261001,6.859210,36.042131,0.062310,0.766363,-0.048820,0.637435
27376,102,1970-01-01 01:10:45,24,177.0,28.514493,3.984324,8.580913,2.407401,3.907003,8.619432,...,-0.029146,-0.031197,-0.014907,-36.187536,6.421340,36.261490,0.059578,0.768488,-0.039974,0.635776

In [8]:
combined_results.to_parquet('../../data/features/pamap_final.parquet')