In [5]:
!pip install xgboost

Collecting xgboost
  Downloading xgboost-2.0.3-py3-none-macosx_12_0_arm64.whl (1.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.9/1.9 MB 10.8 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from xgboost) (1.24.3)
Requirement already satisfied: scipy in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from xgboost) (1.11.3)
Installing collected packages: xgboost
Successfully installed xgboost-2.0.3

[notice] A new release of pip is available: 23.1.2 -> 23.3.2
[notice] To update, run: pip install --upgrade pip

In [23]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix

In [18]:
PAMAP_PARQUET  = '../../data/features/pamapv1.parquet'
pamap = pd.read_parquet(PAMAP_PARQUET)
pamap.head()

,1,2,3,4,5,6,7,8,9,10,...,44,45,46,47,48,49,50,51,52,53
0,1,84.000000,33.812500,-9.603268,-1.683393,0.895379,-9.440235,-1.723465,1.127255,0.015605,...,0.011721,-0.003374,0.002681,-35.221789,38.302384,-18.062516,0.551265,0.371436,0.693518,0.277803
1,1,84.000000,33.776250,-9.583550,-1.654159,0.888167,-9.424240,-1.712517,1.127488,-0.023245,...,0.005247,-0.007632,-0.002055,-35.302004,38.207537,-18.019605,0.550517,0.371173,0.693999,0.278430
2,1,84.700000,33.812500,-9.583622,-1.804738,0.851726,-9.422573,-1.840627,1.095301,0.004333,...,0.002005,-0.003518,0.003592,-35.546978,38.246073,-17.829040,0.547921,0.371566,0.694604,0.281506
3,1,85.000000,33.812500,-9.570113,-1.742206,0.770894,-9.422196,-1.795710,1.004597,0.009664,...,0.013707,-0.003450,0.000693,-35.504724,38.272692,-17.852780,0.548843,0.371165,0.694549,0.280372
4,1,84.888889,33.776875,-9.629145,-1.612541,0.708377,-9.468995,-1.653653,0.905725,0.002259,...,0.005104,-0.007448,-0.003464,-36.116262,37.797633,-17.552533,0.544687,0.368615,0.697716,0.283952

In [19]:
pamap[1].value_counts()

1
10    3103
4     2397
17    2393
1     1932
3     1906
7     1888
19    1876
2     1859
16    1760
6     1653
12    1185
13    1063
18    1003
5      987
9      837
11     546
24     499
20     473
Name: count, dtype: int64

In [20]:
X = pamap.drop(1, axis=1)
y = pamap[1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

label_encoder = LabelEncoder()
y_train = label_encoder.fit_transform(y_train)
y_test = label_encoder.transform(y_test)

model = XGBClassifier()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred, average='weighted')
recall = recall_score(y_test, y_pred, average='weighted')

print(f"Accuracy: {accuracy}")
print(f'Precision: {precision}')
print(f'Recall: {recall}')

Accuracy: 0.9952485380116959
Precision: 0.9952704054355904
Recall: 0.9952485380116959

In [26]:
conf_matrix = confusion_matrix(y_test, y_pred)
conf_df = pd.DataFrame(conf_matrix, index=range(conf_matrix.shape[0]), columns=range(conf_matrix.shape[1]))
conf_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,431,0,0,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0
1,1,376,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,1,380,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,0,0,0,470,0,0,2,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,210,0,0,0,0,0,0,0,0,0,0,0,0,1
5,0,0,0,0,0,293,0,0,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,346,0,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,168,0,0,0,0,0,0,0,0,0,0
8,0,1,0,0,0,0,0,0,644,0,0,0,0,0,0,2,0,0
9,0,0,0,0,0,0,0,0,0,107,0,0,0,0,0,0,0,0
10,0,0,0,1,0,0,0,0,0,0,233,3,1,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,1,218,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,0,0,364,0,0,0,0,0
13,0,0,2,0,0,0,0,0,0,0,0,0,0,436,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,0,0,0,0,199,0,0,0
15,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,376,0,0
16,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,110,0
17,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,85