In [1]:
import pandas as pd
import numpy as np

In [2]:
## Data File Path
FEATURES_PARQUET  = '../../data/features/featuresv3_w_tagclusters.parquet'

In [3]:
features = pd.read_parquet(FEATURES_PARQUET)
features.head()

#duplicate tids found even if track id is unique (e.g. track_id 326 and 36123)

     track_id audio_features
                acousticness danceability    energy instrumentalness
151        10       0.951670     0.658179  0.924525         0.965427  \
1149      201       0.991813     0.461855  0.543751         0.964922
1183      201       0.991813     0.461855  0.543751         0.964922
1933      326       0.933332     0.614193  0.711231         0.844747
3019    36123       0.409308     0.522376  0.386905         0.910398

                                                 metadata  ...   track
      liveness speechiness    tempo   valence  album_date  ... listens
151   0.115474    0.032985  111.562  0.963590  2008-03-11  ...   50135  \
1149  0.137006    0.025688   93.945  0.758632        None  ...     150
1183  0.137006    0.025688   93.945  0.758632        None  ...     150
1933  0.154400    0.579897  197.924  0.380920        None  ...     228
3019  0.117528    0.097336  114.541  0.713353        2009  ...     415


     lyricist number publisher tags     title                 tid
151      None      1      None   []   Freeway  TRWSAJE128F423A6A6  \
1149     None      7      None   []  Big City  TRDLTSA128F92DEE38
1183     None      7      None   []  Big City  TRLXJOY12903CD442D
1933     None     13      None   []      Burn  TRIIWSF128F4292E8F
3019     None      2      None   []      Burn  TRIIWSF128F4292E8F


                artist            tag tag_cluster
151         Aimee Mann           work           6
1149      Sandra Nasic        Driving           5
1183      My Superhero  driving music           5
1933  Three Days Grace        Workout           4
3019  Three Days Grace        Workout           4

[5 rows x 306 columns]

In [4]:
features.shape

(910, 306)

In [7]:
features.columns.levels[0]

Index(['album', 'artist', 'audio_features', 'metadata', 'ranks', 'set',
       'social_features', 'temporal_features', 'track', 'track_id'],
      dtype='object')

In [10]:
features.album.head() # not that important

,comments,date_created,date_released,engineer,favorites,id,information,listens,producer,tags,title,tracks,type
151,0,2008-11-26 01:45:08,2008-02-06 00:00:00,None,4,6,None,47632,None,[],Constant Hitmaker,2,Album
1149,0,2008-11-26 01:52:33,2009-01-07 00:00:00,None,0,85,<p>Ed originally recorded <em>What I Know </em...,894,None,[],What I Know,10,Album
1183,0,2008-11-26 01:52:33,2009-01-07 00:00:00,None,0,85,<p>Ed originally recorded <em>What I Know </em...,894,None,[],What I Know,10,Album
1933,0,2008-11-26 01:57:45,1982-04-06 00:00:00,None,1,109,"<p>What's this? One lion, two moles, two zoo k...",3439,None,[],Stripey Collection,0,Album
3019,0,2010-09-23 06:06:15,None,None,0,7387,<p>Before Eaters became involved with NeverZon...,5475,None,[],Shouting At The Wind,11,Album

In [11]:
features.social_features.head() # can be important

,artist_discovery,artist_familiarity,artist_hotttnesss,song_currency,song_hotttnesss
151,0.557339,0.614272,0.798387,0.005158,0.354516
1149,0.423999,0.403155,0.444855,0.000000,0.000000
1183,0.423999,0.403155,0.444855,0.000000,0.000000
1933,0.381876,0.493007,0.454090,0.000000,0.000000
3019,0.447807,0.288478,0.467815,0.000000,0.081344

In [13]:
features.audio_features.head() # important

,acousticness,danceability,energy,instrumentalness,liveness,speechiness,tempo,valence
151,0.951670,0.658179,0.924525,0.965427,0.115474,0.032985,111.562,0.963590
1149,0.991813,0.461855,0.543751,0.964922,0.137006,0.025688,93.945,0.758632
1183,0.991813,0.461855,0.543751,0.964922,0.137006,0.025688,93.945,0.758632
1933,0.933332,0.614193,0.711231,0.844747,0.154400,0.579897,197.924,0.380920
3019,0.409308,0.522376,0.386905,0.910398,0.117528,0.097336,114.541,0.713353

In [19]:
features.temporal_features.head() #what is this?

,000,001,002,003,004,005,006,007,008,009,...,214,215,216,217,218,219,220,221,222,223
151,0.311404,0.711402,0.321914,0.500601,0.250963,0.321316,0.734250,0.325188,0.373012,0.235840,...,-3.662988,21.508228,0.283352,0.267070,0.125704,0.08082,8.41401,8.33319,21.317064,483.403809
1149,0.440711,0.496262,0.441215,0.554697,0.236986,0.383395,0.331709,0.398409,0.382057,0.425030,...,-2.502959,9.852509,0.363993,0.323760,0.123395,0.06612,7.71116,7.64504,16.298227,330.650909
1183,0.440711,0.496262,0.441215,0.554697,0.236986,0.383395,0.331709,0.398409,0.382057,0.425030,...,-2.502959,9.852509,0.363993,0.323760,0.123395,0.06612,7.71116,7.64504,16.298227,330.650909
1933,0.539821,0.606720,0.501833,0.473179,0.441384,0.419667,0.400220,0.462528,0.503078,0.504465,...,0.186704,-0.962230,0.266171,0.215580,0.073693,0.06104,4.55079,4.48975,10.568583,156.140854
3019,0.462389,0.418532,0.303198,0.220502,0.378458,0.416276,0.285099,0.330380,0.266695,0.357687,...,-1.125052,1.740555,0.232638,0.228025,0.011049,0.06059,1.36032,1.29973,2.111187,13.844978

In [20]:
features.track.head() # genres, listens, duration, interest, tag_cluster

,bit_rate,comments,composer,date_created,date_recorded,duration,favorites,genre_top,genres,genres_all,...,listens,lyricist,number,publisher,tags,title,tid,artist,tag,tag_cluster
151,192000,0,Kurt Vile,2008-11-25 17:49:06,2008-11-26 00:00:00,161,178,Pop,[10],[10],...,50135,None,1,None,[],Freeway,TRWSAJE128F423A6A6,Aimee Mann,work,6
1149,256000,0,None,2008-11-26 01:47:27,2008-11-26 00:00:00,210,1,Folk,[17],[17],...,150,None,7,None,[],Big City,TRDLTSA128F92DEE38,Sandra Nasic,Driving,5
1183,256000,0,None,2008-11-26 01:47:27,2008-11-26 00:00:00,210,1,Folk,[17],[17],...,150,None,7,None,[],Big City,TRLXJOY12903CD442D,My Superhero,driving music,5
1933,256000,0,None,2008-11-26 01:53:32,1982-11-26 00:00:00,105,0,Rock,[89],"[89, 12, 25]",...,228,None,13,None,[],Burn,TRIIWSF128F4292E8F,Three Days Grace,Workout,4
3019,256000,0,None,2010-09-23 06:11:33,None,236,1,None,"[15, 21, 66]","[66, 12, 21, 15]",...,415,None,2,None,[],Burn,TRIIWSF128F4292E8F,Three Days Grace,Workout,4

In [21]:
features.track.columns

Index(['bit_rate', 'comments', 'composer', 'date_created', 'date_recorded',
       'duration', 'favorites', 'genre_top', 'genres', 'genres_all',
       'information', 'interest', 'language_code', 'license', 'listens',
       'lyricist', 'number', 'publisher', 'tags', 'title', 'tid', 'artist',
       'tag', 'tag_cluster'],
      dtype='object')

In [26]:
features.track.language_code.value_counts() # filter not EN

language_code
en    393
pt      2
es      2
zh      1
de      1
Name: count, dtype: int64

In [36]:
mask = features.track.language_code.str.match('pt|es|zh|de',case=False,na=False)
features = features[~mask]

In [70]:
extracted_feats = features.loc[:, [('track_id',''),
                            ('audio_features','acousticness'),
                            ('audio_features','danceability'),
                            ('audio_features','energy'),
                            ('audio_features','instrumentalness'),
                            ('audio_features','liveness'),
                            ('audio_features','speechiness'),
                            ('audio_features','tempo'),
                            ('audio_features','valence'),
                            ('social_features','artist_discovery'),
                            ('social_features','artist_familiarity'),
                            ('social_features','artist_hotttnesss'),
                            ('social_features','song_currency'),
                            ('social_features','song_hotttnesss'),
                            ('track','listens'),
                            ('track','duration'),
                            ('track','interest'),
                            ('track','tag_cluster')]].reset_index(drop=True)
extracted_feats.columns = extracted_feats.columns.droplevel(0)
extracted_feats.rename(columns={extracted_feats.columns[0]: "track_id"}, inplace=True)
extracted_feats.head()

,track_id,acousticness,danceability,energy,instrumentalness,liveness,speechiness,tempo,valence,artist_discovery,artist_familiarity,artist_hotttnesss,song_currency,song_hotttnesss,listens,duration,interest,tag_cluster
0,10,0.951670,0.658179,0.924525,0.965427,0.115474,0.032985,111.562,0.963590,0.557339,0.614272,0.798387,0.005158,0.354516,50135,161,54881,6
1,201,0.991813,0.461855,0.543751,0.964922,0.137006,0.025688,93.945,0.758632,0.423999,0.403155,0.444855,0.000000,0.000000,150,210,870,5
2,201,0.991813,0.461855,0.543751,0.964922,0.137006,0.025688,93.945,0.758632,0.423999,0.403155,0.444855,0.000000,0.000000,150,210,870,5
3,326,0.933332,0.614193,0.711231,0.844747,0.154400,0.579897,197.924,0.380920,0.381876,0.493007,0.454090,0.000000,0.000000,228,105,286,4
4,36123,0.409308,0.522376,0.386905,0.910398,0.117528,0.097336,114.541,0.713353,0.447807,0.288478,0.467815,0.000000,0.081344,415,236,2719,4

In [71]:
extracted_feats.to_parquet('../../data/features/featuresv4_extractedfeats.parquet')